[Desktop Entry]
Name=Install
Name[it]=Installa
Comment=Launch the installation wizard.
Comment[it]=Lancia il programma di installazione.
Exec=linstaller_crash_wrapper.sh -f=glade start
Icon=gtk-save
Terminal=false
Type=Application
Categories=System;
